openapi: 3.0.3
info:
  title: Perfectscale API - OpenAPI 3.0
  version: v1
servers:
  - url: https://api.app.perfectscale.io/public/v1

security:
  - auth: []

paths:
  /automation/audit_logs:
    post:
      operationId: AutomationAuditLogs
      summary: "Get Automation Audit Logs with Cursor Pagination"
      description: |
        Retrieves a list of automation audit log entries within a specified time range, using cursor-based pagination.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                  description: |
                    The start of the time range in ISO 8601 format with UTC timezone.
                    Defaults server-side to 30 days ago if omitted. Cannot be earlier than 30 days ago.
                to:
                  type: string
                  format: date-time
                  description: |
                    The end of the time range in ISO 8601 format with UTC timezone.
                    Defaults server-side to "now" if omitted.
                page_size:
                  type: integer
                  default: 1000
                  minimum: 1
                  maximum: 5000
                  description: "The maximum number of items to return. Defaults to 1000. Must be between 1 and 5000."
                after:
                  type: string
                  description: "Cursor token from a previous response's pagination.next, used to fetch the next page."
                before:
                  type: string
                  description: "Cursor token from a previous response's pagination.prev, used to fetch the previous page."
                cluster_uids:
                  type: array
                  items:
                    type: string
                  description: "Filter by cluster UIDs."
                namespaces:
                  type: array
                  items:
                    type: string
                  description: "Filter by Kubernetes namespaces."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AutomationLogEntry"
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: "#/components/schemas/Pagination"
                    required: [pagination]
                required: [data, meta]

  /clusters/{cluster_uid}/workloads:
    get:
      tags:
        - Workloads
      summary: List all workloads in a specified cluster
      parameters:
        - name: cluster_uid
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the cluster
      responses:
        "200":
          description: A list of workloads
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: The total number of workloads in the specified cluster.
                        example: 10
                    required:
                      - count
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Workload"
                required:
                  - meta
                  - data
        "404":
          description: Cluster not found
        "500":
          description: Internal server error
      security:
        - auth: []

  /clusters:
    get:
      operationId: GetClusters
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Cluster"
                required: [data]

  /clusters/{cluster_uid}/node-groups:
    get:
      operationId: ListInfraFitNodeGroups
      tags:
        - NodeGroups
      summary: List node groups with utilization, cost, and recommendation data
      parameters:
        - name: cluster_uid
          in: path
          required: true
          schema:
            type: string
        - name: period
          in: query
          required: false
          schema:
            type: string
            default: P30D
          description: >
            ISO-8601 duration window for utilization/cost figures (e.g. P30D).
            Recommendations always use a 30 day window.
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 500
        - name: pageToken
          in: query
          required: false
          schema:
            type: string
          description: Opaque, direction-encoded cursor from a previous response's meta.pagination.next or prev.
        - name: recommendationLimit
          in: query
          required: false
          schema:
            type: integer
            default: 3
            minimum: 1
            maximum: 20
          description: Caps node-type recommendations per node group. Karpenter pools always return the full change set.
        - name: hasRecommendations
          in: query
          required: false
          schema:
            type: boolean
          description: >
            When true, only node groups with at least one actionable recommendation.
            When false, only node groups without recommendations.
        - name: includeMuted
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: When true, includes muted recommendations.
        - name: autoscalerType
          in: query
          required: false
          schema:
            type: string
          description: Filter by autoscaler type (e.g. karpenter, cluster_autoscaler).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/InfraFitNodeGroup"
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: "#/components/schemas/CursorPagination"
                      timeframe:
                        type: string
                    required: [pagination, timeframe]
                required: [data, meta]
        "404":
          description: Cluster not found
        "500":
          description: Internal server error
      security:
        - auth: []

  /clusters/{cluster_uid}/node-groups/{node_group_name}:
    get:
      operationId: GetInfraFitNodeGroup
      tags:
        - NodeGroups
      summary: Get a single node group by name
      parameters:
        - name: cluster_uid
          in: path
          required: true
          schema:
            type: string
        - name: node_group_name
          in: path
          required: true
          schema:
            type: string
        - name: period
          in: query
          required: false
          schema:
            type: string
            default: P30D
        - name: recommendationLimit
          in: query
          required: false
          schema:
            type: integer
            default: 3
            minimum: 1
            maximum: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InfraFitNodeGroup"
                required: [data]
        "404":
          description: Node group not found
        "500":
          description: Internal server error
      security:
        - auth: []

  /clusters/{cluster_uid}:
    get:
      operationId: GetCluster
      parameters:
        - name: cluster_uid
          in: path
          required: true
          schema:
            type: string
        - name: period
          in: query
          required: false
          schema:
            type: string
          description: The period for which carbon emission is calculated
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ClusterDetail"
                required: [data]
    delete:
      operationId: DeleteCluster
      parameters:
        - name: cluster_uid
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: OK
        "404":
          description: NotFound

  /clusters/{cluster_uid}/unevictable-pods:
    get:
      operationId: ListUnevictablePods
      tags:
        - Unevictable
      summary: List unevictable pods in a cluster
      description: >
        Returns the pods from the latest pre-computed unevictable-pods
        snapshot for the cluster (no request-time recompute).
      parameters:
        - name: cluster_uid
          in: path
          required: true
          schema:
            type: string
          description: Cluster unique identifier
        - name: filter
          in: query
          required: false
          schema:
            type: string
          description: >
            Composite filter expression: clauses of the form `key[:op]:value`
            joined by `|` (AND); `op` is optional and defaults to `eq`;
            comma-separate values within a clause for an IN match, e.g.
            `filter=namespace:payments|blockedCostHourly:gte:10`. Supported
            keys for this endpoint: `namespace` (eq), `blockedCostHourly`
            (eq/gte/lte, compares numerically on the underlying cost value,
            not the serialized Money object), `reasonCode` (eq), `nodeGroup`
            (eq). Mute-status filtering is handled by the separate `mute`
            parameter, not this filter.
        - name: mute
          in: query
          required: false
          schema:
            type: string
            enum: [exclude, include, only]
            default: exclude
          description: >
            Muted-finding handling: `exclude` (default) hides pods whose
            workload has a dismissal rule; `include` returns all pods,
            flagging muted ones via `mute`/`mutedByRule` on each reason;
            `only` returns exclusively muted pods.
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            enum: [blockedCostHourly]
          description: Field to sort results by.
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort direction, applied only when sortBy is set.
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 500
          description: Number of items per page (default 50, max 500)
        - name: pageToken
          in: query
          required: false
          schema:
            type: string
          description: Opaque cursor token from a previous response's meta.pagination.next or prev.
      responses:
        "200":
          description: List of unevictable pods
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/UnevictablePod"
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: "#/components/schemas/CursorPagination"
                      snapshotTime:
                        type: string
                        format: date-time
                        description: Timestamp (RFC 3339, UTC) of the snapshot the data was read from.
                      algorithmVersion:
                        type: string
                        description: Version of the unevictable-detection algorithm used to produce the snapshot.
                      summary:
                        $ref: "#/components/schemas/UnevictableSummary"
                    required: [pagination, snapshotTime, algorithmVersion, summary]
                required: [data, meta]
        "202":
          description: Raw snapshot exists but is still being processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UnevictablePodsStatus"
                required: [data]
        "404":
          description: Cluster or snapshot not found
        "422":
          description: Raw snapshot exists but processing failed
        "500":
          description: Internal server error
      security:
        - auth: []

  /clusters/{cluster_uid}/unevictable-report:
    get:
      operationId: GetUnevictableReport
      tags:
        - Unevictable
      summary: Per-pod unevictable report — one row per pod, with all its reasons combined
      description: >
        Issues view — one row per pod, carrying all of that pod's unevictable
        reasons. Served from the latest pre-computed snapshot (no
        request-time recompute).
      parameters:
        - name: cluster_uid
          in: path
          required: true
          schema:
            type: string
          description: Cluster unique identifier
        - name: filter
          in: query
          required: false
          schema:
            type: string
          description: >
            Composite filter expression: clauses of the form `key[:op]:value`
            joined by `|` (AND); `op` is optional and defaults to `eq`;
            comma-separate values within a clause for an IN match. Supported
            keys for this endpoint: `namespace` (eq), `blockedCostHourly`
            (eq/gte/lte, compares numerically on the underlying cost value,
            not the serialized Money object), `nodeGroup` (eq). Unlike
            `unevictable-pods`, `reasonCode` is not filterable here. Mute-status
            filtering is handled by the separate `mute` parameter, not this
            filter.
        - name: mute
          in: query
          required: false
          schema:
            type: string
            enum: [exclude, include, only]
            default: exclude
          description: >
            Muted-finding handling: `exclude` (default) hides rows whose
            workload has a dismissal rule; `include` returns all rows,
            flagged via `mute`; `only` returns exclusively muted rows.
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            enum: [blockedCostHourly]
          description: Field to sort results by.
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort direction, applied only when sortBy is set.
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 500
          description: Number of items per page (default 50, max 500)
        - name: pageToken
          in: query
          required: false
          schema:
            type: string
          description: Opaque cursor token from a previous response's meta.pagination.next or prev.
      responses:
        "200":
          description: List of unevictable pod issue rows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/UnevictableReportRow"
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: "#/components/schemas/CursorPagination"
                      snapshotTime:
                        type: string
                        format: date-time
                        description: Timestamp (RFC 3339, UTC) of the snapshot the data was read from.
                      algorithmVersion:
                        type: string
                        description: Version of the unevictable-detection algorithm used to produce the snapshot.
                      summary:
                        $ref: "#/components/schemas/UnevictableSummary"
                    required: [pagination, snapshotTime, algorithmVersion, summary]
                required: [data, meta]
        "202":
          description: Raw snapshot exists but is still being processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UnevictablePodsStatus"
                required: [data]
        "404":
          description: Cluster or snapshot not found
        "422":
          description: Raw snapshot exists but processing failed
        "500":
          description: Internal server error
      security:
        - auth: []

  /clusters/{cluster_uid}/unevictable-pods/{pod_uid}:
    get:
      operationId: GetUnevictablePod
      tags:
        - Unevictable
      summary: Get a single unevictable pod
      description: >
        Full detail for one pod (all reasons with the full remediation
        object), served from the latest pre-computed snapshot (no
        request-time recompute). Unlike every other endpoint in this API,
        the 200 and 202 responses are returned directly, with no {data}
        envelope.
      parameters:
        - name: cluster_uid
          in: path
          required: true
          schema:
            type: string
          description: Cluster unique identifier
        - name: pod_uid
          in: path
          required: true
          schema:
            type: string
          description: Pod unique identifier
      responses:
        "200":
          description: Single unevictable pod, returned directly (no envelope)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnevictablePod"
        "202":
          description: Raw snapshot exists but is still being processed, returned directly (no envelope)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnevictablePodsStatus"
        "404":
          description: Cluster or snapshot not found, or no pod with this uid in the latest snapshot
        "422":
          description: Raw snapshot exists but processing failed
        "500":
          description: Internal server error
      security:
        - auth: []

  /clusters/{cluster_uid}/unevictable-muted-workloads:
    get:
      operationId: ListUnevictableMutedWorkloads
      tags:
        - Unevictable
      summary: List unevictable muted workloads for a cluster
      description: >
        Read-only list of workloads that have an active mute (dismissal) rule
        for the cluster. Rules are created and removed via the web app / user
        API only; this endpoint does not expose write operations.
      parameters:
        - name: cluster_uid
          in: path
          required: true
          schema:
            type: string
          description: Cluster unique identifier
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 500
          description: Number of items per page (default 50, max 500)
        - name: pageToken
          in: query
          required: false
          schema:
            type: string
          description: Opaque cursor token from a previous response's meta.pagination.next or prev.
      responses:
        "200":
          description: List of muted workloads for the cluster
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/UnevictableMutedWorkload"
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: "#/components/schemas/CursorPagination"
                    required: [pagination]
                required: [data, meta]
        "404":
          description: Cluster not found
        "500":
          description: Internal server error
      security:
        - auth: []

components:
  securitySchemes:
    auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    OptimizationPolicy:
      type: string
      description: The optimization policy determining resource allocation strategy.
      enum: [balanced, extraHeadroom, maxHeadroom, maxSavings]

    OptimizationPolicyTimeWindow:
      type: string
      description: The time window for optimization policy.
      enum: ["14d", "21d", "30d", "45d", "policyDefault"]
      x-enum-varnames: [TimeWindow14d, TimeWindow21d, TimeWindow30d, TimeWindow45d, PolicyDefault]

    Workload:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the workload, usually following a namespace-type-name convention.
          example: "examplenamespace-deployment-example-test-workload"
        name:
          type: string
          description: A human-readable name for the workload.
          example: "example-test-workload"
        type:
          type: string
          description: The type of Kubernetes workload. Common types include Deployment, StatefulSet, and DaemonSet, but other string values can also be used to represent custom or extended workload types.
          example: "Deployment"
        namespace:
          type: string
          description: The Kubernetes namespace in which the workload resides.
          example: "examplenamespace"
        firstSeen:
          type: string
          format: date-time
          description: The timestamp when the workload was first observed.
          example: "2023-04-08T16:51:08Z"
        lastSeen:
          type: string
          format: date-time
          description: The timestamp when the workload was last observed.
          example: "2023-10-22T15:23:22.9Z"
        runningMinutes:
          type: integer
          description: The total number of minutes the workload has been running.
          example: 40265
        replicasCounts:
          $ref: "#/components/schemas/ReplicasCounts"
        resilienceLevel:
          type: string
          description: |
            **Deprecated**: Use `optimizationPolicy` instead. The resilience level of the workload (configured on Perfectscale side).
            
            Mapping to optimizationPolicy values:
            - `low` → `maxSavings`
            - `medium` → `balanced`
            - `high` → `extraHeadroom`
            - `highest` → `maxHeadroom`
          deprecated: true
          enum: [low, medium, high, highest]
          example: "medium"
        optimizationPolicy:
          allOf:
            - $ref: "#/components/schemas/OptimizationPolicy"
          description: The optimization policy applied to the workload.
          example: "balanced"
        optimizationPolicyTimeWindow:
          allOf:
            - $ref: "#/components/schemas/OptimizationPolicyTimeWindow"
          description: The time window for optimization policy.
          example: "14d"
        cpuOptimizationPolicy:
          allOf:
            - $ref: "#/components/schemas/OptimizationPolicy"
          description: The CPU-specific optimization policy.
          example: "balanced"
        memoryOptimizationPolicy:
          allOf:
            - $ref: "#/components/schemas/OptimizationPolicy"
          description: The memory-specific optimization policy.
          example: "balanced"
        memoryRequestEqualsLimit:
          type: boolean
          description: Whether memory request equals limit is enabled.
          example: false
        muteStatus:
          $ref: "#/components/schemas/MuteStatus"
        costAnalysis:
          $ref: "#/components/schemas/CostAnalysis"
        workloadLabels:
          type: object
          description: Key-value pairs representing kubernets labels associated with the workload.
          additionalProperties:
            type: string
            description: A label value associated with a particular key.
        indicators:
          type: array
          description: A list of indicators providing insights into the performance and health of the workload.
          items:
            $ref: "#/components/schemas/Indicator"
        containers:
          type: array
          description: An object holding detailed information about each container within the workload.
          items:
            $ref: "#/components/schemas/Container"
      required:
        - id
        - name
        - type
        - namespace
        - firstSeen
        - lastSeen
        - runningMinutes
        - replicasCounts
        - resilienceLevel
        - optimizationPolicy
        - optimizationPolicyTimeWindow
        - cpuOptimizationPolicy
        - memoryOptimizationPolicy
        - memoryRequestEqualsLimit
        - muteStatus
        - costAnalysis
        - workloadLabels
        - indicators
        - containers

    ReplicasCounts:
      type: object
      description: An object representing the count statistics of replicas for a workload over a month period.
      properties:
        maxCount:
          type: integer
          description: The maximum count of replicas observed for the workload during the month period.
          example: 3
        avgCount:
          type: integer
          description: The average count of replicas observed for the workload during the month period.
          example: 2
      required: [maxCount, avgCount]

    MuteStatus:
      type: object
      properties:
        isMuted:
          type: boolean
          description: Indicates whether the workload is currently muted.
          example: false
        expires:
          type: string
          format: date-time
          nullable: true
          description: The date and time when the workload will automatically become unmuted. If null, the mute status does not expire automatically.
          example: null
      required: [isMuted, expires]

    Resources:
      type: object
      description: Metrics detailing the resource allocation in terms of memory and CPU.
      properties:
        memoryRequestMiB:
          type: number
          format: double
          description: The amount of memory requested for the workload in MiB.
          example: 128
        memoryLimitMiB:
          type: number
          format: double
          description: The maximum amount of memory that can be allocated for the workload in MiB.
          example: 256
        cpuRequestCores:
          type: number
          format: double
          description: The amount of CPU resources requested for the workload in cores.
          example: 128
        cpuLimitCores:
          type: number
          format: double
          description: The maximum amount of CPU resources that can be allocated for the workload in cores.
          example: 256
      required:
        - memoryRequestMiB
        - memoryLimitMiB
        - cpuRequestCores
        - cpuLimitCores

    Past30DaysCostAnalysis:
      type: object
      description: Metrics detailing the total and wasted costs associated with the workload's resource consumption.
      properties:
        totalCost:
          type: number
          format: double
          description: The total cost incurred by the workload's resource consumption.
          example: 1.2111549136128001
        wastedCost:
          type: number
          format: double
          description: The cost attributed to over-provisioned or inefficiently utilized resources.
          example: 0.370918634267412
        costPerHour:
          type: number
          format: double
          description: The cost of the workload per hour.
          example: 0.370918634267412
      required: [totalCost, wastedCost, costPerHour]

    Next30DaysCostAnalysis:
      type: object
      description: Metrics detailing the total and wasted costs associated with the workload's resource consumption.
      properties:
        costIncrease:
          type: number
          format: double
          description: The workload total cost increase.
          example: 1.2111549136128001
        potentialSavings:
          type: number
          format: double
          description: The potential savings for the workload.
          example: 0.370918634267412
      required: [costIncrease, potentialSavings]

    CostAnalysis:
      type: object
      description: Analysis of the costs associated with the workload's resource consumption over the past 30 days.
      properties:
        past30Days:
          $ref: "#/components/schemas/Past30DaysCostAnalysis"
        next30Days:
          $ref: "#/components/schemas/Next30DaysCostAnalysis"
      required: [past30Days, next30Days]

    Indicator:
      type: object
      description: An object representing key performance indicators that provide insights into the performance and health of the workload or container.
      properties:
        name:
          type: string
          description: The name of the indicator representing a specific aspect of performance or health.
          enum:
            - OOM
            - CpuThrottling
            - CpuRequestNotSet
            - MemRequestNotSet
            - MemLimitNotSet
            - UnderProvisionedMemRequest
            - UnderProvisionedMemLimit
            - UnderProvisionedCpuRequest
            - UnderProvisionedCpuLimit
            - OverProvisionedCpuRequest
            - OverProvisionedMemRequest
            - RestartsObserved
          example: "OverProvisionedMemRequest"
        type:
          type: string
          description: The type of indicator, categorizing it as either a risk, waste, or no issue (none).
          enum:
            - none
            - risk
            - waste
          example: "waste"
        severityLevel:
          type: integer
          description: The severity level of the indicator, ranging from 0 (no issue) to 3 (critical issue).
          enum:
            - 0
            - 1
            - 2
            - 3
          example: 1
      required: [name, type, severityLevel]

    Container:
      type: object
      description: Detailed information about a specific container within the workload, including its performance indicators and usage statistics.
      properties:
        name:
          type: string
          description: The name of the container.
          example: "container-example-name"
        runningMinutes:
          type: integer
          description: The total number of minutes the container has been running.
          example: 40265
        indicators:
          type: array
          description: A list of indicators providing insights into the performance and health of the container.
          items:
            $ref: "#/components/schemas/Indicator"
        resources:
          type: object
          description: The resource allocation details for the workload, including the current and recommended by PerfectScale allocation.
          properties:
            current:
              $ref: "#/components/schemas/Resources"
            recommended:
              $ref: "#/components/schemas/Resources"
          required: [current, recommended]
        usage:
          type: object
          description: An object representing the resource usage statistics of a container, broken down into CPU and memory consumption.
          properties:
            cpuCores:
              $ref: "#/components/schemas/Percentiles"
            memoryMiB:
              $ref: "#/components/schemas/Percentiles"
          required: [cpuCores, memoryMiB]
      required: [name, runningMinutes, indicators, resources, usage]

    Percentiles:
      type: object
      description: An object representing percentile statistics of resource usage, providing insights into the distribution of usage values over a certain period.
      properties:
        p90:
          type: number
          format: double
          description: The 90th percentile value of resource usage, indicating that 90% of the usage values are below this value and 10% are above.
          example: 0.0015262789745040441
        p95:
          type: number
          format: double
          description: The 95th percentile value of resource usage, indicating that 95% of the usage values are below this value and 5% are above.
          example: 0.0015262789745040441
        p100:
          type: number
          format: double
          description: The 100th percentile value (or maximum value) of resource usage observed during the specified period.
          example: 0.07069631706099244
      required: [p90, p95, p100]

    ClusterCloud:
      type: string
      enum:
        - aws
        - gcp
        - azure

    Cluster:
      type: object
      properties:
        uid:
          nullable: true
          type: string
        name:
          type: string
        cloud:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/ClusterCloud"
        region:
          nullable: true
          type: string
        createdAt:
          type: string
          format: date-time
        lastTransmittedAt:
          type: string
          format: date-time
      required:
        - uid
        - name
        - createdAt
        - lastTransmittedAt

    AutomationLogEntry:
      type: object
      properties:
        started_at:
          type: string
          format: date-time
          description: "Timestamp when the action started."
        cluster_name:
          type: string
        cluster_uid:
          type: string
        workload_id:
          type: string
        workload_name:
          type: string
        workload_type:
          type: string
        namespace:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
        container:
          $ref: "#/components/schemas/AutomatedLogsContainer"
        executed:
          $ref: '#/components/schemas/ExecutionType'
      required:
        - started_at
        - cluster_name
        - cluster_uid
        - workload_id
        - workload_name
        - workload_type
        - namespace
        - labels
        - container
        - executed
    AutomatedLogsContainer:
      type: object
      properties:
        name:
          type: string
        cpu:
          $ref: "#/components/schemas/AutomatedLogsContainerCpu"
        memory:
          $ref: "#/components/schemas/AutomatedLogsContainerMemory"
      required: [name, cpu, memory]
    AutomatedLogsContainerCpu:
      type: object
      properties:
        cpuCoresRequest:
          type: integer
          format: int64
        recommendCpuCoresRequest:
          type: integer
          format: int64
        cpuCoresLimits:
          type: integer
          format: int64
        recommendCpuCoresLimits:
          type: integer
          format: int64
        cpuRequestImpact:
          type: integer
          format: int64
        cpuLimitImpact:
          type: integer
          format: int64
        cpuRequestChangePercent:
          type: number
          format: double
        cpuLimitChangePercent:
          type: number
          format: double
        cpuRequestChangeAbsolute:
          type: integer
          format: int64
        cpuLimitChangeAbsolute:
          type: integer
          format: int64
      required:
        - cpuCoresRequest
        - recommendCpuCoresRequest
        - cpuCoresLimits
        - recommendCpuCoresLimits
        - cpuRequestImpact
        - cpuLimitImpact
        - cpuRequestChangePercent
        - cpuLimitChangePercent
        - cpuRequestChangeAbsolute
        - cpuLimitChangeAbsolute
    AutomatedLogsContainerMemory:
      type: object
      properties:
        memMiBRequest:
          type: integer
          format: int64
        recommendMemMiBRequest:
          type: integer
          format: int64
        memMiBLimits:
          type: integer
          format: int64
        recommendMemMiBLimits:
          type: integer
          format: int64
        memMiBRequestImpact:
          type: integer
          format: int64
        memMiBLimitImpact:
          type: integer
          format: int64
        memRequestChangePercent:
          type: number
          format: double
        memLimitChangePercent:
          type: number
          format: double
        memMiBRequestChangeAbsolute:
          type: integer
          format: int64
        memMiBLimitChangeAbsolute:
          type: integer
          format: int64
      required:
        - memMiBRequest
        - recommendMemMiBRequest
        - memMiBLimits
        - recommendMemMiBLimits
        - memMiBRequestImpact
        - memMiBLimitImpact
        - memRequestChangePercent
        - memLimitChangePercent
        - memMiBRequestChangeAbsolute
        - memMiBLimitChangeAbsolute
    ExecutionType:
      type: string
      enum:
        - regular-eviction
        - inplace-resize
        - cleanup
    Pagination:
      type: object
      properties:
        has_next:
          type: boolean
        next:
          type: string
          nullable: true
        has_prev:
          type: boolean
        prev:
          type: string
          nullable: true
        page_size:
          type: integer
      required:
        - has_next
        - next
        - has_prev
        - prev
        - page_size

    Money:
      type: object
      description: A monetary value. amount is a decimal string for transport fidelity — parse client-side for arithmetic.
      properties:
        amount:
          type: string
          example: "1.97"
        currency:
          type: string
          example: "USD"
      required: [amount, currency]

    CursorPagination:
      type: object
      description: Cursor pagination metadata. Direction is encoded inside the opaque token.
      properties:
        next:
          type: string
          nullable: true
        prev:
          type: string
          nullable: true
        pageSize:
          type: integer
      required: [next, prev, pageSize]

    NodesCount:
      type: object
      properties:
        min:
          type: number
          format: double
        max:
          type: number
          format: double
        avg:
          type: number
          format: double
      required: [min, max, avg]

    PodsCount:
      type: object
      properties:
        capacity:
          type: integer
        allocatable:
          type: integer
        avgCount:
          type: number
          format: double
      required: [capacity, allocatable, avgCount]

    CPUPercentiles:
      type: object
      description: Requested or used CPU percentiles for a node group/type, in cores.
      properties:
        avgCores:
          type: number
          format: double
        minCores:
          type: number
          format: double
        maxCores:
          type: number
          format: double
        p80Cores:
          type: number
          format: double
        p95Cores:
          type: number
          format: double
        p99Cores:
          type: number
          format: double
        p999Cores:
          type: number
          format: double
      required: [avgCores, minCores, maxCores, p80Cores, p95Cores, p99Cores, p999Cores]

    CPUUtilization:
      type: object
      properties:
        idleCores:
          type: number
          format: double
          nullable: true
        requested:
          $ref: "#/components/schemas/CPUPercentiles"
        used:
          $ref: "#/components/schemas/CPUPercentiles"
      required: [requested, used]

    MemPercentiles:
      type: object
      description: Requested or used memory percentiles for a node group/type, in MiB.
      properties:
        avgMiB:
          type: number
          format: double
        minMiB:
          type: number
          format: double
        maxMiB:
          type: number
          format: double
        p80MiB:
          type: number
          format: double
        p95MiB:
          type: number
          format: double
        p99MiB:
          type: number
          format: double
        p999MiB:
          type: number
          format: double
      required: [avgMiB, minMiB, maxMiB, p80MiB, p95MiB, p99MiB, p999MiB]

    MemUtilization:
      type: object
      properties:
        idleMiB:
          type: number
          format: double
          nullable: true
        requested:
          $ref: "#/components/schemas/MemPercentiles"
        used:
          $ref: "#/components/schemas/MemPercentiles"
      required: [requested, used]

    GPUPercentiles:
      type: object
      description: Requested or used GPU percentiles for a node group/type, in device memory MiB and device-fraction units.
      properties:
        avgMemoryMiB:
          type: number
          format: double
        minMemoryMiB:
          type: number
          format: double
        maxMemoryMiB:
          type: number
          format: double
        p80MemoryMiB:
          type: number
          format: double
        p95MemoryMiB:
          type: number
          format: double
        p99MemoryMiB:
          type: number
          format: double
        p999MemoryMiB:
          type: number
          format: double
        avgUnits:
          type: number
          format: double
        minUnits:
          type: number
          format: double
        maxUnits:
          type: number
          format: double
        p80Units:
          type: number
          format: double
        p95Units:
          type: number
          format: double
        p99Units:
          type: number
          format: double
        p999Units:
          type: number
          format: double
      required:
        - avgMemoryMiB
        - minMemoryMiB
        - maxMemoryMiB
        - p80MemoryMiB
        - p95MemoryMiB
        - p99MemoryMiB
        - p999MemoryMiB
        - avgUnits
        - minUnits
        - maxUnits
        - p80Units
        - p95Units
        - p99Units
        - p999Units

    GPUIdle:
      type: object
      properties:
        memoryMiB:
          type: number
          format: double
        units:
          type: number
          format: double
      required: [memoryMiB, units]

    GPUUtilization:
      type: object
      description: GPU utilization for a node group/type. Absent (null) when no GPU is present.
      properties:
        architectures:
          type: array
          items:
            type: string
        sharingType:
          type: array
          items:
            type: string
        idle:
          $ref: "#/components/schemas/GPUIdle"
        requested:
          $ref: "#/components/schemas/GPUPercentiles"
        used:
          $ref: "#/components/schemas/GPUPercentiles"
      required: [requested, used]

    NodeGroupIdleCost:
      type: object
      properties:
        cpu:
          $ref: "#/components/schemas/Money"
        gpu:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/Money"
        mem:
          $ref: "#/components/schemas/Money"
        total:
          $ref: "#/components/schemas/Money"
      required: [cpu, gpu, mem, total]

    NodeGroupCost:
      type: object
      properties:
        hourly:
          $ref: "#/components/schemas/Money"
        timeframe:
          $ref: "#/components/schemas/Money"
        idle:
          $ref: "#/components/schemas/NodeGroupIdleCost"
      required: [hourly, timeframe, idle]

    SeenWindow:
      type: object
      properties:
        firstTime:
          type: string
          format: date-time
        lastTime:
          type: string
          format: date-time
      required: [firstTime, lastTime]

    InfraFitNodeType:
      type: object
      properties:
        id:
          type: string
        instanceType:
          type: string
        instanceFamily:
          type: string
        isSpot:
          type: boolean
        nodes:
          $ref: "#/components/schemas/NodesCount"
        pods:
          $ref: "#/components/schemas/PodsCount"
        cpu:
          $ref: "#/components/schemas/CPUUtilization"
        mem:
          $ref: "#/components/schemas/MemUtilization"
        gpu:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/GPUUtilization"
        cost:
          $ref: "#/components/schemas/NodeGroupCost"
        runningMinutes:
          type: integer
        seen:
          $ref: "#/components/schemas/SeenWindow"
      required: [id, instanceType, nodes, pods, cpu, mem, cost]

    InfraFitStandardNodeTypeRecommendation:
      type: object
      properties:
        id:
          type: string
        instanceType:
          type: string
        instanceFamily:
          type: string
        hourlyCost:
          type: number
          format: double
        estimatedSavings:
          type: number
          format: double
        estimatedSavingsPct:
          type: number
          format: double
        nodeCount:
          type: integer
      required: [id, instanceType, hourlyCost, estimatedSavings, estimatedSavingsPct, nodeCount]

    InfraFitStandardRecommendations:
      type: object
      properties:
        type:
          type: string
          enum: [standard]
        hasChanges:
          type: boolean
        nodeTypes:
          type: array
          items:
            $ref: "#/components/schemas/InfraFitStandardNodeTypeRecommendation"
      required: [type, hasChanges, nodeTypes]

    InfraFitKarpenterChange:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        path:
          type: string
        operation:
          type: string
        currentValue:
          type: string
        recommendedValue:
          type: string
        rationale:
          type: string
      required: [id, title, path, operation, currentValue, recommendedValue, rationale]

    InfraFitKarpenterRecommendations:
      type: object
      properties:
        type:
          type: string
          enum: [karpenter]
        hasChanges:
          type: boolean
        currentConfig:
          type: object
          additionalProperties: true
          description: Full raw Karpenter NodePool custom resource, verbatim.
        recommendedConfig:
          type: object
          additionalProperties: true
          description: >
            Recommended Karpenter NodePool custom resource. May drop raw fields not
            modeled server-side when changes exist (lossy typed round-trip upstream).
        changes:
          type: array
          items:
            $ref: "#/components/schemas/InfraFitKarpenterChange"
      required: [type, hasChanges, currentConfig, recommendedConfig, changes]

    InfraFitNodeGroupRecommendations:
      oneOf:
        - $ref: "#/components/schemas/InfraFitStandardRecommendations"
        - $ref: "#/components/schemas/InfraFitKarpenterRecommendations"
      discriminator:
        propertyName: type
        mapping:
          standard: "#/components/schemas/InfraFitStandardRecommendations"
          karpenter: "#/components/schemas/InfraFitKarpenterRecommendations"

    InfraFitNodeGroup:
      type: object
      properties:
        id:
          type: string
          description: Node group / node pool name.
        autoscalerType:
          type: string
        architectures:
          type: array
          items:
            type: string
        reservations:
          type: array
          items:
            type: string
        nodes:
          $ref: "#/components/schemas/NodesCount"
        pods:
          $ref: "#/components/schemas/PodsCount"
        runningMinutes:
          type: integer
        cpu:
          $ref: "#/components/schemas/CPUUtilization"
        mem:
          $ref: "#/components/schemas/MemUtilization"
        gpu:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/GPUUtilization"
        cost:
          $ref: "#/components/schemas/NodeGroupCost"
        labels:
          type: object
          additionalProperties:
            type: string
        seen:
          $ref: "#/components/schemas/SeenWindow"
        nodeTypes:
          type: array
          items:
            $ref: "#/components/schemas/InfraFitNodeType"
        recommendations:
          $ref: "#/components/schemas/InfraFitNodeGroupRecommendations"
      required:
        - id
        - autoscalerType
        - nodes
        - pods
        - cpu
        - mem
        - cost
        - nodeTypes
        - recommendations

    ClusterDetail:
      type: object
      properties:
        uid:
          nullable: true
          type: string
        name:
          type: string
        cloud:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/ClusterCloud"
        region:
          nullable: true
          type: string
        createdAt:
          type: string
          format: date-time
        lastTransmittedAt:
          type: string
          format: date-time
        emission:
          type: object
          additionalProperties:
            type: number
            format: double
      required:
        - uid
        - name
        - createdAt
        - lastTransmittedAt
        - emission

    UnevictableWorkloadRef:
      type: object
      description: Identity of the pod's top-level owning workload.
      properties:
        id:
          type: string
          description: Canonical workload id (namespace-kind-name) of the top-level controller.
        name:
          type: string
          description: Denormalized workload name for display.
        type:
          type: string
          description: Kubernetes workload kind (e.g. Deployment, StatefulSet, DaemonSet).
          example: "Deployment"
      required: [id, type]

    UnevictableReasonCode:
      type: string
      description: Stable canonical identifier for an unevictable reason. Decoupled from the mutable display string.
      enum:
        - opt_out_annotation
        - pod_disruption_budget
        - strict_affinity
        - strict_anti_affinity
        - topology_locked
        - taints_not_tolerated
        - local_node_storage
        - static_mirror_pod

    UnevictableMutedByRule:
      type: object
      description: Summary of the dismissal rule that suppressed this finding.
      properties:
        note:
          type: string
          nullable: true
        createdBy:
          type: string
          description: Email of the user who created the rule.
        createTime:
          type: string
          format: date-time
          description: When the rule was created (RFC 3339 UTC).
      required: [createdBy, createTime]

    UnevictableRemediation:
      type: object
      description: >
        Reason-specific fix. currentSpec/recommendedSpec/yamlDiff are null for
        partial/informational cases.
      properties:
        fixSummary:
          type: string
          description: One-line plain-language fix.
        risk:
          type: string
          enum: [none, low, medium, high]
        confidence:
          type: string
          enum: [low, medium, high]
        currentSpec:
          type: string
          nullable: true
          description: Rendered YAML of the current spec; null for partial/informational cases.
        recommendedSpec:
          type: string
          nullable: true
          description: Rendered YAML of the recommended spec; null for partial/informational cases.
        yamlDiff:
          type: string
          nullable: true
          description: Unified diff string; null when there is no clean diff.
      required: [fixSummary, risk, confidence]

    UnevictableReason:
      type: object
      properties:
        reason:
          type: string
          description: Short reason code (e.g. "Topology-Locked", "PDB Violation").
        reasonCode:
          allOf:
            - $ref: "#/components/schemas/UnevictableReasonCode"
          nullable: true
          description: Stable slug derived from the display reason. Null for unrecognised reasons.
        details:
          type: string
          description: Human-readable explanation.
        remediation:
          $ref: "#/components/schemas/UnevictableRemediation"
        mute:
          type: boolean
          description: True when this reason is covered by a dismissal rule and therefore muted.
        mutedByRule:
          allOf:
            - $ref: "#/components/schemas/UnevictableMutedByRule"
          nullable: true
      required: [reason, details]

    UnevictablePodToleration:
      type: object
      properties:
        key:
          type: string
        operator:
          type: string
        value:
          type: string
        effect:
          type: string
      required: [key, operator, effect]

    UnevictablePodAffinity:
      type: object
      description: Simplified affinity block — only the sub-fields used by detection are modelled.
      properties:
        nodeAffinity:
          type: object
          additionalProperties: true
        podAffinity:
          type: object
          additionalProperties: true
        podAntiAffinity:
          type: object
          additionalProperties: true

    UnevictablePodTopologySpreadConstraint:
      type: object
      properties:
        maxSkew:
          type: integer
          format: int32
        topologyKey:
          type: string
        whenUnsatisfiable:
          type: string
        labelSelector:
          type: object
          additionalProperties: true
      required: [maxSkew, topologyKey, whenUnsatisfiable]

    UnevictablePodContainer:
      type: object
      properties:
        name:
          type: string
        image:
          type: string
        cpuRequestCores:
          type: number
          format: double
          nullable: true
          description: CPU requested for the container, in cores; null if unset.
        cpuLimitCores:
          type: number
          format: double
          nullable: true
          description: CPU limit for the container, in cores; null if unset.
        memoryRequestMiB:
          type: number
          format: double
          nullable: true
          description: Memory requested for the container, in MiB; null if unset.
        memoryLimitMiB:
          type: number
          format: double
          nullable: true
          description: Memory limit for the container, in MiB; null if unset.
        gpuRequest:
          type: integer
          nullable: true
          description: GPU units requested for the container; null if unset.
        gpuLimit:
          type: integer
          nullable: true
          description: GPU units the container is limited to; null if unset.
      required: [name, image]

    UnevictablePodOwnerReference:
      type: object
      description: >
        A subset of the pod's Kubernetes OwnerReference fields, used for
        ownership detection; not a complete copy of metadata.ownerReferences.
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        name:
          type: string
        controller:
          type: boolean
          nullable: true
          description: True when this reference is the pod's managing controller.
      required: [apiVersion, kind, name]

    UnevictablePodVolume:
      type: object
      properties:
        name:
          type: string
        hostPath:
          type: string
        emptyDir:
          type: string
        pvcClaimName:
          type: string
      required: [name]

    UnevictablePodSpec:
      type: object
      description: Raw Kubernetes PodSpec fields used by detection, verbatim from the pod.
      properties:
        node:
          type: string
          nullable: true
          description: Node the pod is scheduled on (spec.nodeName); null for Pending pods.
        nodeGroup:
          type: string
          description: Node group the pod's node belongs to; empty if the node's node group is unresolved.
        priority:
          type: integer
          description: Kubernetes pod scheduling priority, from the pod's PriorityClass.
        nodeSelector:
          type: object
          additionalProperties:
            type: string
        affinity:
          $ref: "#/components/schemas/UnevictablePodAffinity"
        tolerations:
          type: array
          items:
            $ref: "#/components/schemas/UnevictablePodToleration"
        containers:
          type: array
          items:
            $ref: "#/components/schemas/UnevictablePodContainer"
        volumes:
          type: array
          items:
            $ref: "#/components/schemas/UnevictablePodVolume"
        topologySpreadConstraints:
          type: array
          items:
            $ref: "#/components/schemas/UnevictablePodTopologySpreadConstraint"
        ownerReferences:
          type: array
          description: >
            The pod's metadata.ownerReferences. Omitted when the pod has no
            owner (e.g. static/mirror pods).
          items:
            $ref: "#/components/schemas/UnevictablePodOwnerReference"

    UnevictablePod:
      type: object
      description: >
        A single unevictable pod from the latest pre-computed snapshot for
        the cluster. Returned both as a list item and as the single-pod
        detail response — the detail response additionally populates
        siblingPodNames.
      properties:
        name:
          type: string
        namespace:
          type: string
        id:
          type: string
        workload:
          $ref: "#/components/schemas/UnevictableWorkloadRef"
        reasons:
          type: array
          description: Empty = pod is evictable; non-empty = unevictable.
          items:
            $ref: "#/components/schemas/UnevictableReason"
        phase:
          type: string
        startTime:
          type: string
          format: date-time
          description: Pod creation timestamp (RFC 3339 UTC).
        labels:
          type: object
          additionalProperties:
            type: string
        annotations:
          type: object
          additionalProperties:
            type: string
        spec:
          $ref: "#/components/schemas/UnevictablePodSpec"
        blockedNodeCount:
          type: integer
          description: Number of nodes this pod blocks from scaling down.
        blockedNodes:
          type: array
          description: Names of the nodes this pod pins.
          items:
            type: string
        blockedCostHourly:
          description: >
            Hourly cost of the blocked nodes (Total Blocked Cost). Filtering
            and sorting compare numerically on the underlying cost value, not
            the serialized Money object.
          allOf:
            - $ref: "#/components/schemas/Money"
        clusterUid:
          type: string
        mute:
          type: boolean
          description: True when the pod's workload is muted by a dismissal rule, muting all of its reasons.
        siblingPodNames:
          type: array
          description: Names of other pods of the same workload id in this snapshot. Populated only by the single-pod detail endpoint.
          items:
            type: string
      required: [name, namespace, id, workload, reasons, phase, startTime]

    UnevictableReportRow:
      type: object
      description: One row of the per-pod issues view — a single unevictable pod with all its reasons combined.
      properties:
        name:
          type: string
        id:
          type: string
        workload:
          $ref: "#/components/schemas/UnevictableWorkloadRef"
        namespace:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
        node:
          type: string
          nullable: true
          description: Node the pod is scheduled on; null for Pending pods.
        nodeGroup:
          type: string
          description: Node group the pod's node belongs to; empty if the node's node group is unresolved.
        reasons:
          type: array
          description: All unevictable reasons for this pod.
          items:
            $ref: "#/components/schemas/UnevictableReason"
        mute:
          type: boolean
          description: True when the pod's workload is muted by a dismissal rule, muting all of its reasons.
        priority:
          type: integer
          description: Kubernetes pod scheduling priority; same value as UnevictablePod.spec.priority.
        blockedCostHourly:
          description: >
            Hourly cost of the blocked nodes. Filtering and sorting compare
            numerically on the underlying cost value, not the serialized
            Money object.
          allOf:
            - $ref: "#/components/schemas/Money"
      required: [name, id, workload, namespace, reasons, mute]

    UnevictableSummary:
      type: object
      description: Aggregate pod/node counts for the snapshot backing the listing response.
      properties:
        totalPods:
          type: integer
          description: Total number of pods observed in the snapshot.
        unevictablePods:
          type: integer
          description: Number of pods detected as unevictable in the snapshot.
        mute:
          type: integer
          description: Number of unevictable findings muted by a dismissal rule in this snapshot.
        totalNodes:
          type: integer
          description: Total number of nodes observed in the snapshot.
        autoscalerType:
          type: string
          description: Detected autoscaler, rolled up from per-node detection. Omitted if not detected.
      required: [totalPods, unevictablePods, mute, totalNodes]

    UnevictableMutedWorkload:
      type: object
      properties:
        clusterUid:
          type: string
        id:
          type: string
          description: Canonical workload id (namespace-kind-name) of the top-level controller.
        namespace:
          type: string
        workloadName:
          type: string
          description: Denormalized workload name for display.
        note:
          type: string
        createdBy:
          type: string
          description: Email of the user who created the rule.
        createTime:
          type: string
          format: date-time
          description: When the rule was created (RFC 3339 UTC).
        updateTime:
          type: string
          format: date-time
          description: When the rule was last updated (RFC 3339 UTC).
      required: [clusterUid, id, createdBy, createTime, updateTime]

    UnevictablePodsStatus:
      type: object
      description: >
        Snapshot processing status, returned on 202 (still processing) and
        422 (processing failed) instead of pod/report data.
      properties:
        status:
          type: string
          enum: [processing, failed]
      required: [status]
